{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Miting CUP a Mataró</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo corrupti dicta id ipsa dolores nesciunt natus enim commodi.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/miting.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}